/* nav */
.nav-link.nav-hover {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link.nav-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Jarak underline dari teks */
    width: 100%;
    height: 2px;
    background-color: #FF69B4;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.nav-link.nav-hover:hover {
    color: #ff4e92;
}

.nav-link.nav-hover:hover::after {
    transform: scaleX(1);
}

@media (max-width:991.98px){

    .navbar-wrapper{
        border-radius:20px;
    }

    .navbar-collapse{

        position:fixed;

        inset:0;

        width:100%;
        height:100vh;

        background:#fff;

        z-index:1055;

        display:flex !important;

        flex-direction:column;

        padding:30px;

        transform:translateY(-100%);

        transition:transform .35s ease;
    }

    .navbar-collapse.show{
        transform:translateY(0);
    }

    .btn-close{
        margin-bottom:40px;
    }

    .navbar-nav{
        align-items:flex-start;

        gap:10px !important;

        width:100%;
    }

    .nav-link{

        font-size:2rem;

        font-weight:700;

        padding:0;
    }

    .mobile-footer{
        border-top:1px solid #ececec;
        padding-top:20px;
    }

}